.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justficy-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.bg-black {
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(42, 40, 40) 78.9%);
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;

}

.rounded {
    border-radius: 7px;
}

.m-1 {
    margin: 5px;
}

.p-1 {
    padding: 8px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    /* Dark color for the thumb */
    background-color: #333;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    /* Dark color for the track */
    background-color: #222;
}